<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <script src="{{url_for('static', filename='dashboard_page/dashboard.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_page/dashboard.css')}}">

</head>
<body>
    <div class="container">
        <div class="historial-agenda" id="historial-agenda" hidden>
            <h3>Historial de ultima fecha agendada:</h3>
            <div class="datos-agenda" id="datos-agenda"></div>
        </div>
        <div class="historial-carne" id="historial-carne" hidden>
            <h3>Historial de ultimo carné salud vigente:</h3>
            <div class="datos-carne" id="datos-carne"></div>
        </div>
        <div class="datos-funcionario" id="datos-funcionario" hidden>
            <label for="ci">Cedula</label>
            <input type="number" id="ci" name="ci" disabled>

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" disabled>

            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" disabled>

            <label for="fecha_de_nacimiento">Fecha de nacimiento</label>
            <input type="date" id="fecha_de_nacimiento" name="fecha_de_nacimiento" disabled>
        </div>
        <div class="contenedor-carne-al-dia" id="contenedor-carne-al-dia" hidden>
            <fieldset>
                <legend>¿Carné de salud al día?</legend>
                    <input type="radio" id="carne-al-dia-si" name="carne-al-dia" value="si" onclick="carnea_al_dia_si()"/>
                    <label for="carne-al-dia-si">Si</label>
                
                    <input type="radio" id="carne-al-dia-no" name="carne-al-dia" value="no" onclick="carnea_al_dia_no()"/>
                    <label for="carne-al-dia-no">No</label>
            </fieldset>
        </div>
        <div class="contenedor-subir-carne" id="contenedor-subir-carne" hidden>
            Sube tu comprobante:
            <label for="carnet-archivo">Archivo (jpg/pdf)</label>
            <input type="file" id="carnet-archivo" name="carnet-archivo" accept=".jpg,.pdf">
            
            <label for="fecha_de_emision">Fecha de emision</label>
            <input type="date" id="fecha_de_emision" name="fecha_de_emision">
            
            <label for="fecha_de_vencimiento">Fecha de vencimiento</label>
            <input type="date" id="fecha_de_vencimiento" name="fecha_de_vencimiento">
            
            <input type="button" id="ingresar" value="Confirmar" onclick="registrar_carne_salud()"/>
        </div>
        <div class="contenedor-agendar" id="contenedor-agendar" hidden>
            <label for="fecha-agenda">Selecciona una fecha para agendarte:</label>
            <input
                type="datetime-local"
                id="fecha-agenda"
                name="fecha-agenda"
            />
            <input type="button" id="ingresar" value="Confirmar" onclick="registrar_agenda()"/>
        </div>
        <div class="respuesta-servidor" id="respuesta-servidor"></div>
    </div>
</body>
</html>